<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
  <script src="app.js" defer></script>

  <title>Come As You Art</title>
</head>
<style>
  .map-container {
    position: relative;
    width: 100%;
    background-image: url('imgs/desktop-bd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn {
    /* background-image: url('imgs/01.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

  }
</style>

<body>
  <div id="app">
    <v-app>
      <v-main class="map-container">


        <v-sheet color="black" class="d-flex flex-row ga-4 pa-5">
          <v-btn icon="mdi-home" href="../index.html"></v-btn>
          <p> Click on each photo to watch each student's work.</p>
        </v-sheet>

        <v-container>
          <!-- <v-img src="imgs/desktop-bd.png" @click="findCoordinates"></v-img> -->
          <v-row>
            <v-col v-for="project in projects" :key="project.title" cols="6">
              <v-btn width="100%" height="20vw" :style="{backgroundImage: `url(${project.thumbnail})`}" class="btn"
                @click="toggleDialog(project)" color="white"></v-btn>
            </v-col>
          </v-row>
        </v-container>

        <!-- students cards -->

        <v-dialog v-model="showDialog">
          <v-card>
            <v-card-actions>
              <v-btn @click="showDialog = false" icon="mdi-close-circle-outline"></v-btn>
            </v-card-actions>

            <v-card-title>
              {{ selectedProject.title }}
            </v-card-title>

            <v-card-subtitle>
              <b>Author:</b> {{selectedProject.author}}
            </v-card-subtitle>

            <v-card-text>
              {{selectedProject.description}}

              <!-- video -->
              <video controls class="mt-4" width="70%" height="70%" :src="selectedProject.video">
                Your browser does not support the video tag.
              </video>
              
            </v-card-text>
            </v-text>
          </v-card>
        </v-dialog>

        <!-- intro description -->
        <v-dialog v-model="showIntroDialog">
          <v-card>
            <v-card-actions>
              <v-btn @click="showIntroDialog = false" icon="mdi-close-circle-outline"></v-btn>
            </v-card-actions>

            <v-card-title>
              Photo Film
            </v-card-title>

            <v-card-subtitle>
            </v-card-subtitle>

            <v-card-text>
              <strong>Click on each photo to watch each student's work.</strong>
              <br><br>
              Through carefully curated sequences of black and white images, the students of MEDIAART 2B06 have
              developed a series of concise 30-second photo-films.
              This project demanded extra attentiveness when considering rhythm, shape, sequencing, framing, and more–
              and through the creativity of 2B06, these artworks don’t disappoint.
              <br><br>
              They say a picture is worth a thousand words… and that time is money… In that case, the Media Art second
              years have quite the affordable stories to tell!
              
              
            </v-card-text>
          </v-card>
        </v-dialog>

      </v-main>
    </v-app>
  </div>

</body>

</html>
